In [45]:
#importing files
import pandas as pd
import numpy as np

In [46]:
#load csv file
ds=pd.read_csv('messy_healthcare_data_2.csv')
ds

,Patient_ID,Full_Name,DOB,Height_cm,Weight_kg,Smoker_Status,Allergies,Medications,Visit_Date
0,NaN,NaN,06-09-1990,NaN,NaN,Unknown,NaN,NaN,NotAvailable
1,P371,NaN,unknown,164,NaN,Unknown,123,NaN,NotAvailable
2,P505,Peter123,1975/11/30,NaN,NaN,Y,123,NaN,NotAvailable
3,P234,Luke,06-09-1990,NaN,71,N,NaN,NaN,NaN
4,P787,12345,06-09-1990,NaN,NaN,Unknown,NaN,NaN,03-01-2025
5,NaN,NaN,unknown,?,NaN,NaN,Penicillin,Unknown,NotAvailable
6,P760,Anna-Marie,NaN,153,66,Yes,NaN,Unknown,2024/10/10
7,P407,NaN,NaN,NaN,NaN,Y,NaN,Aspirin,NotAvailable
8,P568,NaN,unknown,NaN,NaN,Y,NaN,12345,03-01-2025
9,P423,12345,1980-05-12,172,NaN,No,123,12345,NotAvailable
10,NaN,Anna-Marie,1980-05-12,NaN,NaN,N,NaN,12345,03-01-2025
11,P869,NaN,06-09-1990,NaN,82,NaN,NaN,Aspirin,NaN
12,P174,Mary Jane,NaN,NaN,NaN,Unknown,NaN,12345,2024/10/10
13,P109,Anna-Marie,unknown,NaN,NaN,Unknown,NaN,NaN,03-01-2025
14,P569,12345,1980-05-12,one seventy,eighty,NaN,NaN,NaN,03-01-2025
15,NaN,NaN,1980-05-12,NaN,NaN,Y,Penicillin,NaN,NaN
16,P736,NaN,unknown,?,NaN,N,Penicillin,12345,NaN
17,P676,Anna-Marie,1975/11/30,one seventy,eighty,N,NaN,Unknown,2024/10/10
18,P202,Mary Jane,06-09-1990,NaN,NaN,N,Peanuts,Paracetamol,NaN
19,P175,Peter123,unknown,NaN,NaN,NaN,NaN,NaN,NotAvailable
20,NaN,NaN,1975/11/30,180,92,No,NaN,Aspirin,03-01-2025
21,P650,Mary Jane,06-09-1990,154,NaN,Unknown,NaN,Paracetamol,2024/10/10
22,P318,Mary Jane,NaN,NaN,NaN,N,Penicillin,NaN,NaN
23,P618,Anna-Marie,NaN,one seventy,eighty,NaN,Peanuts,12345,NaN
24,P371,NaN,06-09-1990,?,eighty,NaN,Peanuts,Aspirin,03-01-2025
25,NaN,Peter123,NaN,NaN,NaN,NaN,123,NaN,2025-03-01
26,P235,NaN,NaN,144,NaN,No,NaN,NaN,2024/10/10
27,P457,NaN,1980-05-12,NaN,eighty,NaN,NaN,12345,NaN
28,P170,NaN,1980-05-12,?,eighty,Yes,123,NaN,NaN
29,P350,Peter123,1980-05-12,147,NaN,Y,123,Unknown,NaN

In [47]:
#serching duplicates in file
ds.duplicated().sum()

np.int64(0)

In [48]:
#drop null values of Patient_id columns
ds=ds.dropna(subset=['Patient_ID'])
ds

,Patient_ID,Full_Name,DOB,Height_cm,Weight_kg,Smoker_Status,Allergies,Medications,Visit_Date
1,P371,NaN,unknown,164,NaN,Unknown,123,NaN,NotAvailable
2,P505,Peter123,1975/11/30,NaN,NaN,Y,123,NaN,NotAvailable
3,P234,Luke,06-09-1990,NaN,71,N,NaN,NaN,NaN
4,P787,12345,06-09-1990,NaN,NaN,Unknown,NaN,NaN,03-01-2025
6,P760,Anna-Marie,NaN,153,66,Yes,NaN,Unknown,2024/10/10
7,P407,NaN,NaN,NaN,NaN,Y,NaN,Aspirin,NotAvailable
8,P568,NaN,unknown,NaN,NaN,Y,NaN,12345,03-01-2025
9,P423,12345,1980-05-12,172,NaN,No,123,12345,NotAvailable
11,P869,NaN,06-09-1990,NaN,82,NaN,NaN,Aspirin,NaN
12,P174,Mary Jane,NaN,NaN,NaN,Unknown,NaN,12345,2024/10/10
13,P109,Anna-Marie,unknown,NaN,NaN,Unknown,NaN,NaN,03-01-2025
14,P569,12345,1980-05-12,one seventy,eighty,NaN,NaN,NaN,03-01-2025
16,P736,NaN,unknown,?,NaN,N,Penicillin,12345,NaN
17,P676,Anna-Marie,1975/11/30,one seventy,eighty,N,NaN,Unknown,2024/10/10
18,P202,Mary Jane,06-09-1990,NaN,NaN,N,Peanuts,Paracetamol,NaN
19,P175,Peter123,unknown,NaN,NaN,NaN,NaN,NaN,NotAvailable
21,P650,Mary Jane,06-09-1990,154,NaN,Unknown,NaN,Paracetamol,2024/10/10
22,P318,Mary Jane,NaN,NaN,NaN,N,Penicillin,NaN,NaN
23,P618,Anna-Marie,NaN,one seventy,eighty,NaN,Peanuts,12345,NaN
24,P371,NaN,06-09-1990,?,eighty,NaN,Peanuts,Aspirin,03-01-2025
26,P235,NaN,NaN,144,NaN,No,NaN,NaN,2024/10/10
27,P457,NaN,1980-05-12,NaN,eighty,NaN,NaN,12345,NaN
28,P170,NaN,1980-05-12,?,eighty,Yes,123,NaN,NaN
29,P350,Peter123,1980-05-12,147,NaN,Y,123,Unknown,NaN

In [49]:
#get info about dataset
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24 entries, 1 to 29
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Patient_ID     24 non-null     object
 1   Full_Name      15 non-null     object
 2   DOB            18 non-null     object
 3   Height_cm      12 non-null     object
 4   Weight_kg      9 non-null      object
 5   Smoker_Status  18 non-null     object
 6   Allergies      10 non-null     object
 7   Medications    14 non-null     object
 8   Visit_Date     15 non-null     object
dtypes: object(9)
memory usage: 1.9+ KB

In [50]:
#handle full_name column
ds['Full_Name'].replace({'12345':'Unknown'},inplace=True)
ds

C:\Users\ankit\AppData\Local\Temp\ipykernel_8844\3273807188.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ds['Full_Name'].replace({'12345':'Unknown'},inplace=True)
C:\Users\ankit\AppData\Local\Temp\ipykernel_8844\3273807188.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds['Full_Name'].replace({'12345':'Unknown'},inplace=True)

,Patient_ID,Full_Name,DOB,Height_cm,Weight_kg,Smoker_Status,Allergies,Medications,Visit_Date
1,P371,NaN,unknown,164,NaN,Unknown,123,NaN,NotAvailable
2,P505,Peter123,1975/11/30,NaN,NaN,Y,123,NaN,NotAvailable
3,P234,Luke,06-09-1990,NaN,71,N,NaN,NaN,NaN
4,P787,Unknown,06-09-1990,NaN,NaN,Unknown,NaN,NaN,03-01-2025
6,P760,Anna-Marie,NaN,153,66,Yes,NaN,Unknown,2024/10/10
7,P407,NaN,NaN,NaN,NaN,Y,NaN,Aspirin,NotAvailable
8,P568,NaN,unknown,NaN,NaN,Y,NaN,12345,03-01-2025
9,P423,Unknown,1980-05-12,172,NaN,No,123,12345,NotAvailable
11,P869,NaN,06-09-1990,NaN,82,NaN,NaN,Aspirin,NaN
12,P174,Mary Jane,NaN,NaN,NaN,Unknown,NaN,12345,2024/10/10
13,P109,Anna-Marie,unknown,NaN,NaN,Unknown,NaN,NaN,03-01-2025
14,P569,Unknown,1980-05-12,one seventy,eighty,NaN,NaN,NaN,03-01-2025
16,P736,NaN,unknown,?,NaN,N,Penicillin,12345,NaN
17,P676,Anna-Marie,1975/11/30,one seventy,eighty,N,NaN,Unknown,2024/10/10
18,P202,Mary Jane,06-09-1990,NaN,NaN,N,Peanuts,Paracetamol,NaN
19,P175,Peter123,unknown,NaN,NaN,NaN,NaN,NaN,NotAvailable
21,P650,Mary Jane,06-09-1990,154,NaN,Unknown,NaN,Paracetamol,2024/10/10
22,P318,Mary Jane,NaN,NaN,NaN,N,Penicillin,NaN,NaN
23,P618,Anna-Marie,NaN,one seventy,eighty,NaN,Peanuts,12345,NaN
24,P371,NaN,06-09-1990,?,eighty,NaN,Peanuts,Aspirin,03-01-2025
26,P235,NaN,NaN,144,NaN,No,NaN,NaN,2024/10/10
27,P457,NaN,1980-05-12,NaN,eighty,NaN,NaN,12345,NaN
28,P170,NaN,1980-05-12,?,eighty,Yes,123,NaN,NaN
29,P350,Peter123,1980-05-12,147,NaN,Y,123,Unknown,NaN

In [51]:
#handle DOB column
ds['DOB']=pd.to_datetime(ds['DOB'],errors='coerce')
ds

C:\Users\ankit\AppData\Local\Temp\ipykernel_8844\2738764543.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  ds['DOB']=pd.to_datetime(ds['DOB'],errors='coerce')
C:\Users\ankit\AppData\Local\Temp\ipykernel_8844\2738764543.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds['DOB']=pd.to_datetime(ds['DOB'],errors='coerce')

,Patient_ID,Full_Name,DOB,Height_cm,Weight_kg,Smoker_Status,Allergies,Medications,Visit_Date
1,P371,NaN,NaT,164,NaN,Unknown,123,NaN,NotAvailable
2,P505,Peter123,1975-11-30,NaN,NaN,Y,123,NaN,NotAvailable
3,P234,Luke,1990-06-09,NaN,71,N,NaN,NaN,NaN
4,P787,Unknown,1990-06-09,NaN,NaN,Unknown,NaN,NaN,03-01-2025
6,P760,Anna-Marie,NaT,153,66,Yes,NaN,Unknown,2024/10/10
7,P407,NaN,NaT,NaN,NaN,Y,NaN,Aspirin,NotAvailable
8,P568,NaN,NaT,NaN,NaN,Y,NaN,12345,03-01-2025
9,P423,Unknown,1980-05-12,172,NaN,No,123,12345,NotAvailable
11,P869,NaN,1990-06-09,NaN,82,NaN,NaN,Aspirin,NaN
12,P174,Mary Jane,NaT,NaN,NaN,Unknown,NaN,12345,2024/10/10
13,P109,Anna-Marie,NaT,NaN,NaN,Unknown,NaN,NaN,03-01-2025
14,P569,Unknown,1980-05-12,one seventy,eighty,NaN,NaN,NaN,03-01-2025
16,P736,NaN,NaT,?,NaN,N,Penicillin,12345,NaN
17,P676,Anna-Marie,1975-11-30,one seventy,eighty,N,NaN,Unknown,2024/10/10
18,P202,Mary Jane,1990-06-09,NaN,NaN,N,Peanuts,Paracetamol,NaN
19,P175,Peter123,NaT,NaN,NaN,NaN,NaN,NaN,NotAvailable
21,P650,Mary Jane,1990-06-09,154,NaN,Unknown,NaN,Paracetamol,2024/10/10
22,P318,Mary Jane,NaT,NaN,NaN,N,Penicillin,NaN,NaN
23,P618,Anna-Marie,NaT,one seventy,eighty,NaN,Peanuts,12345,NaN
24,P371,NaN,1990-06-09,?,eighty,NaN,Peanuts,Aspirin,03-01-2025
26,P235,NaN,NaT,144,NaN,No,NaN,NaN,2024/10/10
27,P457,NaN,1980-05-12,NaN,eighty,NaN,NaN,12345,NaN
28,P170,NaN,1980-05-12,?,eighty,Yes,123,NaN,NaN
29,P350,Peter123,1980-05-12,147,NaN,Y,123,Unknown,NaN

In [52]:
#handling height_cm column
ds['Height_cm'].replace({'one seventy':'170','?':'NaN'},inplace=True)
ds

C:\Users\ankit\AppData\Local\Temp\ipykernel_8844\3222868610.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ds['Height_cm'].replace({'one seventy':'170','?':'NaN'},inplace=True)
C:\Users\ankit\AppData\Local\Temp\ipykernel_8844\3222868610.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds['Height_cm'].replace({'one seventy':'170','?':'NaN'},inplace=True)

,Patient_ID,Full_Name,DOB,Height_cm,Weight_kg,Smoker_Status,Allergies,Medications,Visit_Date
1,P371,NaN,NaT,164,NaN,Unknown,123,NaN,NotAvailable
2,P505,Peter123,1975-11-30,NaN,NaN,Y,123,NaN,NotAvailable
3,P234,Luke,1990-06-09,NaN,71,N,NaN,NaN,NaN
4,P787,Unknown,1990-06-09,NaN,NaN,Unknown,NaN,NaN,03-01-2025
6,P760,Anna-Marie,NaT,153,66,Yes,NaN,Unknown,2024/10/10
7,P407,NaN,NaT,NaN,NaN,Y,NaN,Aspirin,NotAvailable
8,P568,NaN,NaT,NaN,NaN,Y,NaN,12345,03-01-2025
9,P423,Unknown,1980-05-12,172,NaN,No,123,12345,NotAvailable
11,P869,NaN,1990-06-09,NaN,82,NaN,NaN,Aspirin,NaN
12,P174,Mary Jane,NaT,NaN,NaN,Unknown,NaN,12345,2024/10/10
13,P109,Anna-Marie,NaT,NaN,NaN,Unknown,NaN,NaN,03-01-2025
14,P569,Unknown,1980-05-12,170,eighty,NaN,NaN,NaN,03-01-2025
16,P736,NaN,NaT,NaN,NaN,N,Penicillin,12345,NaN
17,P676,Anna-Marie,1975-11-30,170,eighty,N,NaN,Unknown,2024/10/10
18,P202,Mary Jane,1990-06-09,NaN,NaN,N,Peanuts,Paracetamol,NaN
19,P175,Peter123,NaT,NaN,NaN,NaN,NaN,NaN,NotAvailable
21,P650,Mary Jane,1990-06-09,154,NaN,Unknown,NaN,Paracetamol,2024/10/10
22,P318,Mary Jane,NaT,NaN,NaN,N,Penicillin,NaN,NaN
23,P618,Anna-Marie,NaT,170,eighty,NaN,Peanuts,12345,NaN
24,P371,NaN,1990-06-09,NaN,eighty,NaN,Peanuts,Aspirin,03-01-2025
26,P235,NaN,NaT,144,NaN,No,NaN,NaN,2024/10/10
27,P457,NaN,1980-05-12,NaN,eighty,NaN,NaN,12345,NaN
28,P170,NaN,1980-05-12,NaN,eighty,Yes,123,NaN,NaN
29,P350,Peter123,1980-05-12,147,NaN,Y,123,Unknown,NaN

In [53]:
#handling weight_kg
ds['Weight_kg'].replace({'eighty':'80'},inplace=True)
ds

C:\Users\ankit\AppData\Local\Temp\ipykernel_8844\4162688221.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ds['Weight_kg'].replace({'eighty':'80'},inplace=True)
C:\Users\ankit\AppData\Local\Temp\ipykernel_8844\4162688221.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds['Weight_kg'].replace({'eighty':'80'},inplace=True)

,Patient_ID,Full_Name,DOB,Height_cm,Weight_kg,Smoker_Status,Allergies,Medications,Visit_Date
1,P371,NaN,NaT,164,NaN,Unknown,123,NaN,NotAvailable
2,P505,Peter123,1975-11-30,NaN,NaN,Y,123,NaN,NotAvailable
3,P234,Luke,1990-06-09,NaN,71,N,NaN,NaN,NaN
4,P787,Unknown,1990-06-09,NaN,NaN,Unknown,NaN,NaN,03-01-2025
6,P760,Anna-Marie,NaT,153,66,Yes,NaN,Unknown,2024/10/10
7,P407,NaN,NaT,NaN,NaN,Y,NaN,Aspirin,NotAvailable
8,P568,NaN,NaT,NaN,NaN,Y,NaN,12345,03-01-2025
9,P423,Unknown,1980-05-12,172,NaN,No,123,12345,NotAvailable
11,P869,NaN,1990-06-09,NaN,82,NaN,NaN,Aspirin,NaN
12,P174,Mary Jane,NaT,NaN,NaN,Unknown,NaN,12345,2024/10/10
13,P109,Anna-Marie,NaT,NaN,NaN,Unknown,NaN,NaN,03-01-2025
14,P569,Unknown,1980-05-12,170,80,NaN,NaN,NaN,03-01-2025
16,P736,NaN,NaT,NaN,NaN,N,Penicillin,12345,NaN
17,P676,Anna-Marie,1975-11-30,170,80,N,NaN,Unknown,2024/10/10
18,P202,Mary Jane,1990-06-09,NaN,NaN,N,Peanuts,Paracetamol,NaN
19,P175,Peter123,NaT,NaN,NaN,NaN,NaN,NaN,NotAvailable
21,P650,Mary Jane,1990-06-09,154,NaN,Unknown,NaN,Paracetamol,2024/10/10
22,P318,Mary Jane,NaT,NaN,NaN,N,Penicillin,NaN,NaN
23,P618,Anna-Marie,NaT,170,80,NaN,Peanuts,12345,NaN
24,P371,NaN,1990-06-09,NaN,80,NaN,Peanuts,Aspirin,03-01-2025
26,P235,NaN,NaT,144,NaN,No,NaN,NaN,2024/10/10
27,P457,NaN,1980-05-12,NaN,80,NaN,NaN,12345,NaN
28,P170,NaN,1980-05-12,NaN,80,Yes,123,NaN,NaN
29,P350,Peter123,1980-05-12,147,NaN,Y,123,Unknown,NaN

In [54]:
#handling smoker_status
ds['Smoker_Status'].replace({'Y':'Yes','N':'No','Unknown':'NaN'},inplace=True)

C:\Users\ankit\AppData\Local\Temp\ipykernel_8844\1767242786.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ds['Smoker_Status'].replace({'Y':'Yes','N':'No','Unknown':'NaN'},inplace=True)
C:\Users\ankit\AppData\Local\Temp\ipykernel_8844\1767242786.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds['Smoker_Status'].replace({'Y':'Yes','N':'No','Unknown':'NaN'},inplace=True)

In [55]:
ds

,Patient_ID,Full_Name,DOB,Height_cm,Weight_kg,Smoker_Status,Allergies,Medications,Visit_Date
1,P371,NaN,NaT,164,NaN,NaN,123,NaN,NotAvailable
2,P505,Peter123,1975-11-30,NaN,NaN,Yes,123,NaN,NotAvailable
3,P234,Luke,1990-06-09,NaN,71,No,NaN,NaN,NaN
4,P787,Unknown,1990-06-09,NaN,NaN,NaN,NaN,NaN,03-01-2025
6,P760,Anna-Marie,NaT,153,66,Yes,NaN,Unknown,2024/10/10
7,P407,NaN,NaT,NaN,NaN,Yes,NaN,Aspirin,NotAvailable
8,P568,NaN,NaT,NaN,NaN,Yes,NaN,12345,03-01-2025
9,P423,Unknown,1980-05-12,172,NaN,No,123,12345,NotAvailable
11,P869,NaN,1990-06-09,NaN,82,NaN,NaN,Aspirin,NaN
12,P174,Mary Jane,NaT,NaN,NaN,NaN,NaN,12345,2024/10/10
13,P109,Anna-Marie,NaT,NaN,NaN,NaN,NaN,NaN,03-01-2025
14,P569,Unknown,1980-05-12,170,80,NaN,NaN,NaN,03-01-2025
16,P736,NaN,NaT,NaN,NaN,No,Penicillin,12345,NaN
17,P676,Anna-Marie,1975-11-30,170,80,No,NaN,Unknown,2024/10/10
18,P202,Mary Jane,1990-06-09,NaN,NaN,No,Peanuts,Paracetamol,NaN
19,P175,Peter123,NaT,NaN,NaN,NaN,NaN,NaN,NotAvailable
21,P650,Mary Jane,1990-06-09,154,NaN,NaN,NaN,Paracetamol,2024/10/10
22,P318,Mary Jane,NaT,NaN,NaN,No,Penicillin,NaN,NaN
23,P618,Anna-Marie,NaT,170,80,NaN,Peanuts,12345,NaN
24,P371,NaN,1990-06-09,NaN,80,NaN,Peanuts,Aspirin,03-01-2025
26,P235,NaN,NaT,144,NaN,No,NaN,NaN,2024/10/10
27,P457,NaN,1980-05-12,NaN,80,NaN,NaN,12345,NaN
28,P170,NaN,1980-05-12,NaN,80,Yes,123,NaN,NaN
29,P350,Peter123,1980-05-12,147,NaN,Yes,123,Unknown,NaN

In [56]:
#handling allergies column
ds['Allergies'].replace({'123':'NaN'},inplace=True)
ds

C:\Users\ankit\AppData\Local\Temp\ipykernel_8844\407933054.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ds['Allergies'].replace({'123':'NaN'},inplace=True)
C:\Users\ankit\AppData\Local\Temp\ipykernel_8844\407933054.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds['Allergies'].replace({'123':'NaN'},inplace=True)

,Patient_ID,Full_Name,DOB,Height_cm,Weight_kg,Smoker_Status,Allergies,Medications,Visit_Date
1,P371,NaN,NaT,164,NaN,NaN,NaN,NaN,NotAvailable
2,P505,Peter123,1975-11-30,NaN,NaN,Yes,NaN,NaN,NotAvailable
3,P234,Luke,1990-06-09,NaN,71,No,NaN,NaN,NaN
4,P787,Unknown,1990-06-09,NaN,NaN,NaN,NaN,NaN,03-01-2025
6,P760,Anna-Marie,NaT,153,66,Yes,NaN,Unknown,2024/10/10
7,P407,NaN,NaT,NaN,NaN,Yes,NaN,Aspirin,NotAvailable
8,P568,NaN,NaT,NaN,NaN,Yes,NaN,12345,03-01-2025
9,P423,Unknown,1980-05-12,172,NaN,No,NaN,12345,NotAvailable
11,P869,NaN,1990-06-09,NaN,82,NaN,NaN,Aspirin,NaN
12,P174,Mary Jane,NaT,NaN,NaN,NaN,NaN,12345,2024/10/10
13,P109,Anna-Marie,NaT,NaN,NaN,NaN,NaN,NaN,03-01-2025
14,P569,Unknown,1980-05-12,170,80,NaN,NaN,NaN,03-01-2025
16,P736,NaN,NaT,NaN,NaN,No,Penicillin,12345,NaN
17,P676,Anna-Marie,1975-11-30,170,80,No,NaN,Unknown,2024/10/10
18,P202,Mary Jane,1990-06-09,NaN,NaN,No,Peanuts,Paracetamol,NaN
19,P175,Peter123,NaT,NaN,NaN,NaN,NaN,NaN,NotAvailable
21,P650,Mary Jane,1990-06-09,154,NaN,NaN,NaN,Paracetamol,2024/10/10
22,P318,Mary Jane,NaT,NaN,NaN,No,Penicillin,NaN,NaN
23,P618,Anna-Marie,NaT,170,80,NaN,Peanuts,12345,NaN
24,P371,NaN,1990-06-09,NaN,80,NaN,Peanuts,Aspirin,03-01-2025
26,P235,NaN,NaT,144,NaN,No,NaN,NaN,2024/10/10
27,P457,NaN,1980-05-12,NaN,80,NaN,NaN,12345,NaN
28,P170,NaN,1980-05-12,NaN,80,Yes,NaN,NaN,NaN
29,P350,Peter123,1980-05-12,147,NaN,Yes,NaN,Unknown,NaN

In [57]:
#handling medications coulmn
ds['Medications'].replace({'12345':'NaN'},inplace=True)
ds

C:\Users\ankit\AppData\Local\Temp\ipykernel_8844\2373573847.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ds['Medications'].replace({'12345':'NaN'},inplace=True)
C:\Users\ankit\AppData\Local\Temp\ipykernel_8844\2373573847.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds['Medications'].replace({'12345':'NaN'},inplace=True)

,Patient_ID,Full_Name,DOB,Height_cm,Weight_kg,Smoker_Status,Allergies,Medications,Visit_Date
1,P371,NaN,NaT,164,NaN,NaN,NaN,NaN,NotAvailable
2,P505,Peter123,1975-11-30,NaN,NaN,Yes,NaN,NaN,NotAvailable
3,P234,Luke,1990-06-09,NaN,71,No,NaN,NaN,NaN
4,P787,Unknown,1990-06-09,NaN,NaN,NaN,NaN,NaN,03-01-2025
6,P760,Anna-Marie,NaT,153,66,Yes,NaN,Unknown,2024/10/10
7,P407,NaN,NaT,NaN,NaN,Yes,NaN,Aspirin,NotAvailable
8,P568,NaN,NaT,NaN,NaN,Yes,NaN,NaN,03-01-2025
9,P423,Unknown,1980-05-12,172,NaN,No,NaN,NaN,NotAvailable
11,P869,NaN,1990-06-09,NaN,82,NaN,NaN,Aspirin,NaN
12,P174,Mary Jane,NaT,NaN,NaN,NaN,NaN,NaN,2024/10/10
13,P109,Anna-Marie,NaT,NaN,NaN,NaN,NaN,NaN,03-01-2025
14,P569,Unknown,1980-05-12,170,80,NaN,NaN,NaN,03-01-2025
16,P736,NaN,NaT,NaN,NaN,No,Penicillin,NaN,NaN
17,P676,Anna-Marie,1975-11-30,170,80,No,NaN,Unknown,2024/10/10
18,P202,Mary Jane,1990-06-09,NaN,NaN,No,Peanuts,Paracetamol,NaN
19,P175,Peter123,NaT,NaN,NaN,NaN,NaN,NaN,NotAvailable
21,P650,Mary Jane,1990-06-09,154,NaN,NaN,NaN,Paracetamol,2024/10/10
22,P318,Mary Jane,NaT,NaN,NaN,No,Penicillin,NaN,NaN
23,P618,Anna-Marie,NaT,170,80,NaN,Peanuts,NaN,NaN
24,P371,NaN,1990-06-09,NaN,80,NaN,Peanuts,Aspirin,03-01-2025
26,P235,NaN,NaT,144,NaN,No,NaN,NaN,2024/10/10
27,P457,NaN,1980-05-12,NaN,80,NaN,NaN,NaN,NaN
28,P170,NaN,1980-05-12,NaN,80,Yes,NaN,NaN,NaN
29,P350,Peter123,1980-05-12,147,NaN,Yes,NaN,Unknown,NaN

In [58]:
#handling Visit_Date column
ds['Visit_Date']=pd.to_datetime(ds['Visit_Date'],errors='coerce')

C:\Users\ankit\AppData\Local\Temp\ipykernel_8844\4252496545.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  ds['Visit_Date']=pd.to_datetime(ds['Visit_Date'],errors='coerce')
C:\Users\ankit\AppData\Local\Temp\ipykernel_8844\4252496545.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds['Visit_Date']=pd.to_datetime(ds['Visit_Date'],errors='coerce')

In [59]:
ds

,Patient_ID,Full_Name,DOB,Height_cm,Weight_kg,Smoker_Status,Allergies,Medications,Visit_Date
1,P371,NaN,NaT,164,NaN,NaN,NaN,NaN,NaT
2,P505,Peter123,1975-11-30,NaN,NaN,Yes,NaN,NaN,NaT
3,P234,Luke,1990-06-09,NaN,71,No,NaN,NaN,NaT
4,P787,Unknown,1990-06-09,NaN,NaN,NaN,NaN,NaN,2025-03-01
6,P760,Anna-Marie,NaT,153,66,Yes,NaN,Unknown,2024-10-10
7,P407,NaN,NaT,NaN,NaN,Yes,NaN,Aspirin,NaT
8,P568,NaN,NaT,NaN,NaN,Yes,NaN,NaN,2025-03-01
9,P423,Unknown,1980-05-12,172,NaN,No,NaN,NaN,NaT
11,P869,NaN,1990-06-09,NaN,82,NaN,NaN,Aspirin,NaT
12,P174,Mary Jane,NaT,NaN,NaN,NaN,NaN,NaN,2024-10-10
13,P109,Anna-Marie,NaT,NaN,NaN,NaN,NaN,NaN,2025-03-01
14,P569,Unknown,1980-05-12,170,80,NaN,NaN,NaN,2025-03-01
16,P736,NaN,NaT,NaN,NaN,No,Penicillin,NaN,NaT
17,P676,Anna-Marie,1975-11-30,170,80,No,NaN,Unknown,2024-10-10
18,P202,Mary Jane,1990-06-09,NaN,NaN,No,Peanuts,Paracetamol,NaT
19,P175,Peter123,NaT,NaN,NaN,NaN,NaN,NaN,NaT
21,P650,Mary Jane,1990-06-09,154,NaN,NaN,NaN,Paracetamol,2024-10-10
22,P318,Mary Jane,NaT,NaN,NaN,No,Penicillin,NaN,NaT
23,P618,Anna-Marie,NaT,170,80,NaN,Peanuts,NaN,NaT
24,P371,NaN,1990-06-09,NaN,80,NaN,Peanuts,Aspirin,2025-03-01
26,P235,NaN,NaT,144,NaN,No,NaN,NaN,2024-10-10
27,P457,NaN,1980-05-12,NaN,80,NaN,NaN,NaN,NaT
28,P170,NaN,1980-05-12,NaN,80,Yes,NaN,NaN,NaT
29,P350,Peter123,1980-05-12,147,NaN,Yes,NaN,Unknown,NaT